<div class="product-item">

        <div class="product-item_images">
            <div class="product-item_prewiews-wrapper">
                @@include('../product-prewiews/_product-prewiews.html')
                
            </div>
            <div class="product-item_images"><img src="\img\Nike.jpg"  alt="Shoes image">
            </div>
            
        </div>
        <div class="product-item_title">
            <h3>NikeZoom</h3>
        </div>
        <div class="product-item_description">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi deserunt vel debitis placeat, officia neque, quos optio harum esse, impedit natus consequuntur eveniet magni magnam doloremque fugiat. Reprehenderit, provident. Unde.</p>
        </div>
        <div class="product-item_buttons">
            <a class="buy" href="#"  title="Buy">Buy</a>
            <a class="basket" href="#" title="Basket">Basket</a>
        </div>
</div>