.font-example{
    font-family: new_font;
    color: red;
    font-size: 30px;
    font-weight: bold;
    background-color: black;    
}
@font-face{
    font-family: new_font;
    src: url(/fonts/14611.otf);
}
.test{
    position: fixed;
    height: 70px;
    width: 100%;
    top: 200px;
    left: 0;
    background-color: goldenrod;
    
}
.test1{
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100px;
    background: color(red);
    border: 3px solid black;

}
.test2 {
    position: relative;
    width: 200px;
    height: 200px;
    outline: 4px dotted greenyellow;
    margin: 0 auto;
}

.test2_1{
    display: inline-block;
    position: relative;
    left: -50%;
    vertical-align: middle;
    margin: 0 auto;
    
    transform: translate(75%);
    border: 1px solid green;


}