.sait{
    width: 1920px;
    height: 1080px;
}
.menu{
    background-size: 100%;
    height: 129px;
    background-image: url(/img/Logo1.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-bottom: 0%;
}
.Portfolio{
    display: inline-block;
    margin-left: 35em;
    margin-top: 4em;
    top: 30%;
}
.Yslugi{
    display: inline-block;
    margin-left: 5em;
}

.Otzivi{
    display: inline-block;
    margin-left: 23em;
}

.Kontakti{
    display: inline-block;
    margin-left: 5em;
}
a{
    color: lightgrey;
    text-decoration: none;
}
a:hover{
   color: white;
     background: url(/img/podcherkivanie.png)
}
.topMenu{
    background-size: 100%;
    background-image: url(/img/backgroundtop.png);
    background-repeat: no-repeat;
    margin-top: 0%;
    padding-bottom: 75%;
}


@font-face{
    font-family: my_font;
    src: url('/fonts/Delacorso Outlines_D.otf');

}

.links{
    padding-top: 4em;
    padding-left: 20em;

}

.linksTop{
    margin: 0;
    padding-left: 13em;
}

.linksBottom{
    margin: 0;
    padding-left: 21.6em;

}

.steklo{
    height: 273px;
    width: 273px;
    background-size: 100%;
    display: inline-block;
    background-image: url(/img/steklo.png); 
}

.pvh{
    height: 273px;
    width: 273px;
    background-size: 100%;
    display: inline-block;
    background-image: url(/img/pvh.png);

}
.metall{
    height: 273px;
    width: 273px;
    background-size: 100%;
    display: inline-block;
    background-image: url(/img/metal.png);

}
.gest{
    height: 273px;
    width: 273px;
    background-size: 100%;
    display: inline-block;
    background-image: url(/img/jest.png);

}
.saiding{
    height: 273px;
    width: 273px;
    background-size: 100%;
    display: inline-block;
    background-image: url(/img/saiding.png);

}
.pena{
    height: 273px;
    width: 273px;
    background-size: 100%;
    display: inline-block;
    background-image: url(/img/penoplast.png);

}
.stoika{
    height: 273px;
    width: 273px;
    background-size: 100%;
    display: inline-block;
    background-image: url(/img/smesi.png);

}

.steklo:hover{
    
    background-image: url(/img/stekloV.png); 
}

.pvh:hover{
    
    background-image: url(/img/pvhV.png); 
}

.metall:hover{
    background-image: url(/img/metalV.png);

}

.gest:hover{
    
    background-image: url(/img/jestV.png);

}

.saiding:hover{
    background-image: url(/img/saidingV.png);

}
.pena:hover{
    
    background-image: url(/img/penoplastV.png);

}
.stoika:hover{
    
    background-image: url(/img/smesiV.png);

}










