@import "../partials/product-card/product-card.less";
@import "../partials/product-previews/product-previes.less";
.products {
    display: flex;
}
.fa-chart-area{
    font-size: 50em;
    color: red;
}
.fa-dragon{
    font-size: 30em;
    color: gold;
}
.fa-dog{
    font-size: 20em;
    color: red;
}