<h3 >Task6</h3>
<div class="task">
        <div class="description">
                Using the loops, draw in the console with spaces and asterisks (*): <br>
                · Rectangle (should have only borders) <br>
                · Right triangle (should have only borders) <br>
                · Equilateral triangle (should have only borders) <br>
                · Rhombus. (should be filled with asterisks) <br>

         </div>
         <div class="solution">
                <xmp>
                        
                        
                </xmp>
         </div>
            <div class="output" id="draw">

                   
            </div>
</div>
<script type="text/javascript" src="./js/task6.js"></script>