<nav class="menuContainer">
    <a href="">
        <div class="menuItemTop"> About</div>
        <div class="menuItemBototm">Me</div>
    </a>
    <a href="">
            <div class="menuItemTop">Contacts</div>
            <div class="menuItemBototm">Instagramm</div>
        </a>
    <a href="">
                <div class="menuItemTop"> Project</div>
                <div class="menuItemBototm">Programming</div>
    </a>
    <a href="">
            <div class="menuItemTop"> Home</div>
            <div class="menuItemBototm">main</div>
    </a>
    <a href="">
                <div class="menuItemTop">Interes</div>
                <div class="menuItemBototm">Gaming</div>
    </a>
            
        
</nav>